BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk0" SITE "61" ;
LOCATE COMP "cdiv0[4]" SITE "5" ;
LOCATE COMP "cdiv0[3]" SITE "6" ;
LOCATE COMP "cdiv0[2]" SITE "9" ;
LOCATE COMP "cdiv0[1]" SITE "10" ;
LOCATE COMP "cdiv0[0]" SITE "11" ;
LOCATE COMP "re0" SITE "1" ;
LOCATE COMP "en0" SITE "2" ;
LOCATE COMP "rw0" SITE "3" ;
LOCATE COMP "inData0[7]" SITE "19" ;
LOCATE COMP "inData0[6]" SITE "20" ;
LOCATE COMP "inData0[5]" SITE "21" ;
LOCATE COMP "inData0[4]" SITE "22" ;
LOCATE COMP "inData0[3]" SITE "132" ;
LOCATE COMP "inData0[2]" SITE "133" ;
LOCATE COMP "inData0[1]" SITE "24" ;
LOCATE COMP "inData0[0]" SITE "23" ;
LOCATE COMP "outcont0[5]" SITE "56" ;
LOCATE COMP "outcont0[4]" SITE "54" ;
LOCATE COMP "outcont0[3]" SITE "55" ;
LOCATE COMP "outcont0[2]" SITE "52" ;
LOCATE COMP "outcont0[1]" SITE "50" ;
LOCATE COMP "outcont0[0]" SITE "48" ;
LOCATE COMP "Q0[7]" SITE "49" ;
LOCATE COMP "Q0[6]" SITE "47" ;
LOCATE COMP "Q0[5]" SITE "45" ;
LOCATE COMP "Q0[4]" SITE "43" ;
LOCATE COMP "Q0[3]" SITE "42" ;
LOCATE COMP "Q0[2]" SITE "44" ;
LOCATE COMP "Q0[1]" SITE "39" ;
LOCATE COMP "Q0[0]" SITE "41" ;
