BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk0" SITE "61" ;
LOCATE COMP "cdiv0[4]" SITE "5" ;
LOCATE COMP "cdiv0[3]" SITE "6" ;
LOCATE COMP "cdiv0[2]" SITE "9" ;
LOCATE COMP "cdiv0[1]" SITE "10" ;
LOCATE COMP "cdiv0[0]" SITE "11" ;
LOCATE COMP "en0" SITE "1" ;
LOCATE COMP "outcontrd0[5]" SITE "59" ;
LOCATE COMP "outcontrd0[4]" SITE "57" ;
LOCATE COMP "outcontrd0[3]" SITE "56" ;
LOCATE COMP "outcontrd0[2]" SITE "54" ;
LOCATE COMP "outcontrd0[1]" SITE "55" ;
LOCATE COMP "outcontrd0[0]" SITE "52" ;
LOCATE COMP "outrom0[6]" SITE "77" ;
LOCATE COMP "outrom0[5]" SITE "78" ;
LOCATE COMP "outrom0[4]" SITE "81" ;
LOCATE COMP "outrom0[3]" SITE "82" ;
LOCATE COMP "outrom0[2]" SITE "83" ;
LOCATE COMP "outrom0[1]" SITE "84" ;
LOCATE COMP "outrom0[0]" SITE "85" ;
LOCATE COMP "outtransist0[3]" SITE "73" ;
LOCATE COMP "outtransist0[2]" SITE "74" ;
LOCATE COMP "outtransist0[1]" SITE "75" ;
LOCATE COMP "outtransist0[0]" SITE "76" ;
