BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk0" SITE "61" ;
LOCATE COMP "en0" SITE "1" ;
LOCATE COMP "cdiv0[4]" SITE "5" ;
LOCATE COMP "cdiv0[3]" SITE "6" ;
LOCATE COMP "cdiv0[2]" SITE "9" ;
LOCATE COMP "cdiv0[1]" SITE "10" ;
LOCATE COMP "cdiv0[0]" SITE "11" ;
LOCATE COMP "outcoder0[6]" SITE "77" ;
LOCATE COMP "outcoder0[5]" SITE "78" ;
LOCATE COMP "outcoder0[4]" SITE "81" ;
LOCATE COMP "outcoder0[3]" SITE "82" ;
LOCATE COMP "outcoder0[2]" SITE "83" ;
LOCATE COMP "outcoder0[1]" SITE "84" ;
LOCATE COMP "outcoder0[0]" SITE "85" ;
LOCATE COMP "outr0[3]" SITE "126" ;
LOCATE COMP "outr0[2]" SITE "121" ;
LOCATE COMP "outr0[1]" SITE "122" ;
LOCATE COMP "outr0[0]" SITE "119" ;
LOCATE COMP "outtransist0[3]" SITE "73" ;
LOCATE COMP "outtransist0[1]" SITE "75" ;
LOCATE COMP "outtransist0[2]" SITE "74" ;
LOCATE COMP "outtransist0[0]" SITE "76" ;
LOCATE COMP "inkey0[0]" SITE "120" ;
LOCATE COMP "inkey0[1]" SITE "115" ;
LOCATE COMP "inkey0[2]" SITE "117" ;
LOCATE COMP "inkey0[3]" SITE "113" ;
